.awesome {
  background-color: #fff;
  padding: 80px 0px 116px;
}
.title {
  width: 670px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  color: #212121;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  margin-bottom: 34px;
}
.line {
  width: 64px;
  height: 2px;
  background-color: #e72424;
  margin: auto;
  margin-bottom: 34px;
}
.head-text {
  color: #86878b;
  font-size: 14px;
  line-height: 19px;
  width: 780px;
  text-align: center;
  margin: auto;
  margin-bottom: 68px;
}
.awesome-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.awesome-card {
  margin: 0 15px;
  width: 350px;
}

.awesome-card_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #e72424;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  overflow: hidden;
}

.awesome-card_img img {
  object-fit: cover;
  object-position: center;
}
.awesome-card_title {
  text-align: center;
  margin-bottom: 16px;
  color: #333333;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}
.awesome-card_text {
  width: 350;
  margin: auto;
}
.awesome-card_text p {
  text-align: center;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}
