.contact {
  background-color: rgba(255, 255, 255, 1);
  padding: 80px 0px 50px;
}
.title {
  width: 670px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
  color: rgba(33, 33, 33, 1);
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  margin-bottom: 34px;
}
.title::after {
  content: "";
  width: 64px;
  height: 2px;
  background-color: rgba(231, 36, 36, 1);
  text-align: center;
  display: block;
  margin-bottom: 34px;
}
.head-description {
  margin: auto;
  margin-bottom: 76px;
  width: 780px;
}
.head-description p {
  color: rgba(134, 135, 139, 1);
  font-size: 14 px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}
.contact-form {
}
.contact-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  margin-bottom: 30px;
}
.contact-form_user {
  margin: 0 15px;
  width: 40%;
}
.contact-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.contact-label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  /* line-height: 19px; */
  color: rgba(189, 189, 189, 1);
  text-transform: capitalize;
}
#contact_item {
  outline: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  padding: 3px 0;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 32px;
}
.contact-message {
  margin: 0 15px;
  width: 40%;
}
.contact-message_item {
  display: flex;
  flex-direction: column;
}
.contact-label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: rgba(189, 189, 189, 1);
}
.contact-message_text {
  height: 200px;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.contact-button {
  display: block;
  margin: auto;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  background: rgba(236, 121, 121, 1);
  color: rgba(255, 255, 255, 1);
  padding: 11px 31px;
  border: none;
  transition: 0.2s;
}
.contact-button:hover {
  background: rgba(189, 189, 189, 0.3);
  color: rgba(236, 121, 121, 1);
  transition: 0.2s;
}
