.pricing {
  background-color: rgba(245, 245, 245, 1);
  padding: 80px 0px 60px;
}
.title {
  width: 670px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
  font-style: regular;
  color: rgba(33, 33, 33, 1);
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  margin-bottom: 34px;
}
.title::after {
  content: "";
  width: 64px;
  height: 2px;
  background-color: rgba(231, 36, 36, 1);
  text-align: center;
  display: block;
  margin: 34px auto;
}
.head-description {
  width: 780px;
  margin: auto;
  margin-bottom: 60px;
}
.head-description p {
  color: rgba(134, 135, 139, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.pricing-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.pricing-card {
  width: 340px;
  text-align: center;
  margin: 0 15px;
  color: rgba(255, 255, 255, 1);
  transition: 0.3;
}
.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  background-color: rgba(51, 51, 51, 1);
  margin-bottom: 2px;
}
.card-title:hover {
  transform: translate(5px, 5px);
  box-shadow: 10px 10px 15px rgba(134, 135, 139, 1);
  transition: 0.3;
}
.card-price {
  font-family: Raleway;
  font-weight: 700;
  font-size: 35px;
  line-height: 100px;
  background-color: rgba(51, 51, 51, 1);
  margin-bottom: 2px;
}
.card-price:hover {
  transform: translate(5px, 5px);
  box-shadow: 10px 10px 15px rgba(134, 135, 139, 1);
  transition: 0.3;
}
.card-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  background-color: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
}
.card-description:hover {
  transform: translate(5px, 5px);
  box-shadow: 10px 10px 15px rgba(134, 135, 139, 1);
  transition: 0.3;
}
.card-memory {
  line-height: 40px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(134, 135, 139, 1);
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 4px;
}
.card-memory:hover {
  transform: translate(5px, 5px);
  box-shadow: 10px 10px 15px rgba(134, 135, 139, 1);
  transition: 0.3;
}
.card-memory:last-child {
  margin-bottom: 0;
}
