.social_media {
  background-color: rgba(248, 239, 239, 1);
  padding: 14px 0px 17px;
}
.social_media_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.title_wrap {
  display: block;
  width: 365px;
}
.title_social {
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 14px;
}
.social-description {
  margin: auto;
  width: 365px;
}
.social-description p {
  color: rgba(134, 135, 139, 1);
  font-size: 10px;
  font-weight: 400;
}
.media-list {
  width: 684px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-right: -75px; */
}
.media-list_item {
  font-size: 28px;
  transition: 0.2s;
  /* transform: rotate(360deg); */
}
.media-list_item:hover {
  transform: scale(2.2);
}
.fa-facebook-f_social {
  color: rgba(134, 135, 139, 1);
}
.fa-facebook-f_social:hover {
  color: rgb(63, 63, 204);
  transform: rotate(360deg);
}
.fa-twitter_social {
  color: rgba(134, 135, 139, 1);
}
.fa-twitter_social:hover {
  color: rgb(20, 188, 255);
}
.fa-google_social {
  color: rgba(134, 135, 139, 1);
}
.fa-google_social:hover {
  background: linear-gradient(
    0deg,
    #fa3f00 20%,
    #ffcc00 50%,
    #32aa03 80%,
    #4164ff 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-pinterest_social {
  color: rgba(134, 135, 139, 1);
}
.fa-pinterest_social:hover {
  color: rgba(255, 3, 3, 1);
}
.fa-instagram_social {
  color: rgba(134, 135, 139, 1);
}
.fa-instagram_social:hover {
  background: linear-gradient(90deg, #9903f6 0%, #f512b4 50%, #f8bf12 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-stumbleupon_social {
  color: rgba(134, 135, 139, 1);
}
.fa-stumbleupon_social:hover {
  color: rgba(255, 3, 3, 1);
}
.fa-rss_social {
  color: rgba(134, 135, 139, 1);
}
.fa-rss_social:hover {
  color: rgb(255, 116, 3);
}
